<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moviedatenew">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".JewelleryBooked" />
        <activity android:name=".utils.AddtoCart" />
        <activity android:name=".ui.WatchDetailActivity" />
        <activity android:name=".ui.WatchActivity" />
        <activity android:name=".ui.JewelleryDetailActivity" />
        <activity android:name=".ui.JewelleryActivity" />
        <activity android:name=".utils.SignUp" />
        <activity android:name=".MainActivity" />
        <activity android:name=".utils.SignInPage" />
        <activity android:name=".utils.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>